@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@-webkit-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}

@-moz-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}

@-o-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}

@keyframes BackgroundAnimation {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}

@keyframes progress {
  from {
    transform: scaleX(0);
    transform-origin: left;
  }
  to {
    transform-origin: left;
    transform: scaleX(1);
  }
}

@keyframes separator-animation {
  0% {
    background-image: linear-gradient(to right, #E3170A, #1ad7c0);
  }
  25% {
    background-image: linear-gradient(to right, #1ad7c0, #ff9b11);
  }
  50% {
    background-image: linear-gradient(to right, #ff9b11, #9b59b6);
  }
  75% {
    background-image: linear-gradient(to right, #9b59b6, #CE84AD);
  }
  100% {
    background-image: linear-gradient(to right, #CE84AD, #ecf0f1);
  }
}
